{% extends 'base.html.twig' %}

{% block title %}Trello{% endblock %}

{% block body %}
<a href="/logout">Se déconnecter</a>
<h1>Bienvenue sur Trello Like</h1>

<h4>Pour ajouter une tâche, cliquez <a href="/task">ici</a>.</h4>

{% endblock %}
